function Blocks.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 2
pop this 1
push this 1
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 6
push constant 6
call Block.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 7
push constant 7
call Block.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Blocks._blocks 0
push argument 0
pop pointer 0
push this 0
return
function Blocks.draw 1
push argument 0
pop pointer 0
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Block.draw 1
pop temp 0
push constant 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Block.draw 1
pop temp 0
push constant 0
return
function Blocks.clear_scrn 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 1
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Block.clear_scrn 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Blocks.find_block 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Block._px 1
push argument 1
eq
push local 1
call Block._py 1
push argument 2
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
