function Block.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Block._px 0
push argument 0
pop pointer 0
push this 0
return
function Block._py 0
push argument 0
pop pointer 0
push this 1
return
function Block.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
add
push this 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 28855
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32439
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32439
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28855
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28919
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30455
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Block.clear_scrn 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.multiply 2
push constant 32
call Math.multiply 2
add
push this 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Block.valid 3
push argument 0
pop pointer 0
call Main._game 0
pop local 0
push local 0
call Game._map 1
pop local 1
push local 0
call Game._blocks 1
pop local 2
push local 1
push argument 1
push argument 2
call Map.get_map 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 2
push argument 1
push argument 2
call Blocks.find_block 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Block.move 0
push argument 0
pop pointer 0
push pointer 0
push this 0
push argument 1
add
push this 1
push argument 2
add
call Block.valid 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push argument 1
add
pop this 0
push this 1
push argument 2
add
pop this 1
label IF_FALSE0
push constant 0
return
