function Blocks.init 0
call Stage._blocks 0
pop static 0
call Stage._block_num 0
pop static 1
push constant 0
return
function Blocks._blocks 0
push static 0
return
function Blocks.draw 2
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push static 1
lt
not
if-goto WHILE_END0
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Block.draw 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Blocks.clear_scrn 2
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push static 1
lt
not
if-goto WHILE_END0
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Block.clear_scrn 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Blocks.find_block 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 1
lt
not
if-goto WHILE_END0
push local 0
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Block._px 1
push argument 0
eq
push local 1
call Block._py 1
push argument 1
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
