function Game.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
call Stage.init 1
pop temp 0
call Stage._player_x 0
call Stage._player_y 0
call Player.new 2
pop this 0
call Stage._map_img 0
call Map.new 1
pop this 1
call Stage._block_num 0
call Stage._blocks 0
call Blocks.new 2
pop this 2
push constant 100
pop static 0
push pointer 0
return
function Game._blocks 0
push argument 0
pop pointer 0
push this 2
return
function Game._map 0
push argument 0
pop pointer 0
push this 1
return
function Game._player 0
push argument 0
pop pointer 0
push this 0
return
function Game.clear_scrn 0
push argument 0
pop pointer 0
push this 0
call Player.clear_scrn 1
pop temp 0
push this 2
call Blocks.clear_scrn 1
pop temp 0
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push this 2
call Blocks.draw 1
pop temp 0
push this 0
call Player.draw 1
pop temp 0
push constant 0
return
function Game.play 1
push argument 0
pop pointer 0
push this 1
call Map.draw 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.clear_scrn 1
pop temp 0
push this 0
push constant 0
push constant 1
neg
call Player.move 3
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push static 0
call Sys.wait 1
pop temp 0
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.clear_scrn 1
pop temp 0
push this 0
push constant 1
neg
push constant 0
call Player.move 3
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push static 0
call Sys.wait 1
pop temp 0
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Game.clear_scrn 1
pop temp 0
push this 0
push constant 0
push constant 1
call Player.move 3
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push static 0
call Sys.wait 1
pop temp 0
label IF_FALSE2
push local 0
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Game.clear_scrn 1
pop temp 0
push this 0
push constant 1
push constant 0
call Player.move 3
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push static 0
call Sys.wait 1
pop temp 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
